.sign-in{
    height: 100vh;
}

.sign-in .body {
    display: flex;
    height: 93%;
    background-color: orange;
    align-items: center;
}

.sign-in .input-field-container {
    display: flex;
    flex-direction: column;
    background-color: purple;
    padding: 20px;
    width: 20%;
    margin: auto;
    border-radius: 12px;
}

.sign-in .input-field{
    border: 0px;
    padding: 0px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

.sign-in .title{
    font-size: larger;
}

.sign-in .input-field-container .button {
    margin-top: 15px;
    background-color: blue;
    cursor: pointer;
    text-align: center;
    padding: 7px 0;
    border-radius: 7px;
    width: 49%;
    box-sizing: border-box;
    color: white;
}
.sign-in .input-field-container .button:hover {
    margin-top: 15px;
    background-color: white;
    color: black;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sign-in .input-field-container .button .nav-link{
    text-decoration: none;
}