.chat-panel{
    display: inline-block;
    background-color: #bab4c9;
    width: 20%;
    height: 100%;
}
.new-journal-container {
    border-bottom: 1px solid rgb(0, 0, 0);
}

/*  */
.new-journal-container .top-section{
    display: flex;
    justify-content: space-between;
    padding: 10px 3%;
    box-sizing: border-box;
}
.new-journal-container .input-field{
    box-sizing: border-box;
    width: 79%;
}
.new-journal-container .warning-message {
    margin: 0px 0px 10px 10px;
    font-size: 0.8em;
}


/* button */
.new-journal-container .button{
    background-color: var(--accent-color);
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 3%;
    color: rgb(29, 29, 29);
    font-weight: bold;
    text-align: center;
}

.new-journal-container .button:hover{
    background-color: black;
    color: white;
}


